/*样式重置*/
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
dd {
  margin: 0;
  padding: 0;
  font-family: 微软雅黑;
}
ul,
ol {
  list-style: none;
}
img {
  border: none;
  vertical-align: top;
}
a {
  text-decoration: none;
  color: #666;
}
body {
  position: relative;
}
/* 字体用于解决用户电脑没有该字体 */
@font-face {
  font-family: 'fzlantingheis-ul-gbregular';
  src: url('../fonts/fzlantingheis/_-webfont.woff2') format('woff2'), url('../fonts/fzlantingheis/__-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/*选择性的*/
em,
i {
  font-style: normal;
}
/*公用*/
.clearfix {
  content: "";
  display: block;
  clear: both;
}
/*.clearfix { zoom: 1; }*/
.fl {
  float: left;
}
.fr {
  float: right;
}
/* activity 动态创建图片详情展示 */
#mask {
  position: absolute;
  background: rgba(0, 0, 0, 0.1);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  transition: all 0.5s;
  -ms-transition: all 0.5s;
  z-index: 8;
}
#wrap {
  width: 45%;
  background: #fff;
  position: fixed;
  z-index: 9;
  transition: all 0.5s;
  -ms-transition: all 0.5s;
  padding: 0 10px;
  opacity: 0.5;
}
#wrap:before {
  content: "";
  display: block;
  clear: both;
}
#wrap a {
  display: block;
  text-align: center;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  float: right;
}
#wrap img {
  display: block;
  width: 100%;
}
#wrap p {
  font-size: 15px;
  padding: 5px 0;
}
/* 整个页面的容器 */
#container {
  width: 100%;
  min-width: 1150px;
  z-index: 1;
  position: relative;
}
/* 头部 */
#header {
  padding: 0 8%;
  z-index: 3;
  position: relative;
  background: #fff;
}
#header:after {
  content: "";
  display: block;
  clear: both;
}
/* 头部logo区域 */
.logo {
  float: left;
}
.logo img {
  height: 80px;
}
/* 头部导航栏区域 */
.navbar {
  float: right;
  text-align: center;
}
.navbar .user a {
  position: relative;
}
.navbar .user a::after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #666;
  position: absolute;
  left: 180%;
  top: 50%;
  margin-top: -1.5px;
  content: "";
  transform: rotate(0deg);
  transition: all 0.35s;
  -ms-transition: all 0.35s;
}
.navbar .user a img {
  vertical-align: middle;
}
.navbar ul li {
  float: left;
  width: 70px;
  height: 80px;
  line-height: 80px;
}
.navbar ul li a {
  transition: all 0.15s;
  -ms-transition: all 0.15s;
  font-size: 14px;
}
.navbar ul li a:hover {
  color: #37c3e6;
}
.userMessage {
  width: 250px;
  height: 200px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 5px 5px 0px rgba(7, 17, 27, 0.2);
  background: #fff;
  position: absolute;
  right: 2%;
  margin-top: -300px;
  z-index: 2;
  transition: margin-top 0.5s;
  -ms-transition: margin-top 0.5s;
  padding: 25px;
}
.user-top {
  padding-top: 15px;
}
.user-top img {
  width: 20%;
  vertical-align: middle;
  border-radius: 50%;
}
.user-top .user-top-about {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  font-size: 12px;
}
.user-top .user-top-about a {
  font-size: 16px;
  color: #000;
  font-weight: 700;
}
.user-top .user-top-about .user-about-message a {
  color: #666;
  font-weight: normal;
}
.user-top .user-top-about .user-about-message a:nth-of-type(2) {
  margin-left: 10px;
}
.user-top .user-top-about .user-about-message b {
  margin-left: 2px;
  color: #666;
}
.user-middle {
  color: #666;
  margin: 25px auto;
  font-size: 14px;
}
.user-middle span {
  margin-bottom: 15px;
  font-weight: 700;
  display: inline-block;
}
.user-middle p {
  margin-bottom: 15px;
}
.user-bottom {
  border-top: 1px solid #e3e3e3;
}
.user-bottom a {
  float: right;
  display: block;
  margin-top: 15px;
  color: rgba(0, 180, 60, 0.6);
}
/* 测试线性渐变(位于bannner的文字部分) */
/* 线性渐变可以控制渐变开始的位置，用百分比表示（如下的hr），还可以分段进行颜色块渐变（分成一段一段颜色区域块，没有了渐变，也已百分比表示（列子如下：（取自web modle 的 css3线性渐变表单）））

		background-image: linear-gradient(to right, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
 */
/* hr{
	width: 250px;
    height: 2px;
    border: none;
    background-image: linear-gradient(to right,@mainColor 80%,transparent);
} */
/* banner轮播图区域 */
/* banner图片区域 */
.arrowBox {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  cursor: pointer;
}
#banner {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 492px;
}
#banner #leftArrow {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  cursor: pointer;
  left: 15px;
}
#banner #leftArrow .arrow {
  transform: rotate(-45deg);
  margin-top: -6px;
  margin-left: -4px;
  width: 10px;
  height: 10px;
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
}
#banner #rightArrow {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  cursor: pointer;
  right: 15px;
}
#banner #rightArrow .arrow {
  transform: rotate(135deg);
  margin-top: -6px;
  margin-left: -9px;
  width: 10px;
  height: 10px;
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
}
#banner .buttons {
  position: absolute;
  left: 50%;
  bottom: 5%;
  margin-left: -33px;
}
#banner .buttons span {
  width: 10px;
  height: 10px;
  display: block;
  float: left;
  border: 1px solid #666;
  outline: 1px solid #fff;
  margin-left: 10px;
  background: #666;
  cursor: pointer;
}
#banner .buttons .on {
  background: #fff;
}
#list {
  width: 500%;
  position: absolute;
}
#list:after {
  content: "";
  display: block;
  clear: both;
}
.list-item {
  width: 20%;
  position: relative;
  float: left;
}
.list-item img {
  width: 100%;
}
.list-item .img-message {
  position: absolute;
  left: 20%;
  top: 50%;
  margin-top: -85.5px;
  transition: all 0.5s;
  opacity: 1;
}
.list-item .img-message-zero hr {
  width: 250px;
}
.list-item .img-message-one {
  opacity: 0;
}
.list-item .img-message-one .message-top {
  transform: translateX(145px);
}
.list-item .img-message-one hr {
  width: 0px;
}
.list-item .img-message-one .message-bottom {
  transform: translateX(-145px);
}
.list-item .img-message-two {
  opacity: 0;
}
.list-item .img-message-two .message-top {
  transform: translateY(-75px);
}
.list-item .img-message-two hr {
  width: 0px;
}
.list-item .img-message-two .message-bottom {
  transform: translateY(75px);
}
.list-item .img-message-three {
  opacity: 0;
}
.list-item .img-message-three .message-top {
  transform: translateY(45px);
}
.list-item .img-message-three hr {
  width: 0px;
}
.list-item .img-message-three .message-bottom {
  transform: translateY(-45px);
}
.list-item .img-message-four hr {
  width: 250px;
}
/* banner文字信息区域 */
.img-message {
  font-family: fzlantingheis-ul-gbregular;
  width: 30%;
  color: #737373;
  font-variant: small-caps;
  letter-spacing: 2px;
}
.img-message .message-top {
  transition: all 1s;
  margin-left: 0px;
}
.img-message .message-top p {
  font-size: 22px;
  font-weight: 100;
  margin-bottom: 10px;
}
.img-message .message-top h1 {
  font-size: 35px;
  font-weight: 100;
  margin-bottom: 10px;
  font-family: inherit;
}
.img-message hr {
  width: 250px;
  font-weight: 100;
  height: 1px;
  border: none;
  margin: 0;
  background-image: linear-gradient(to right, #fff 80%, transparent);
  margin-bottom: 10px;
  transition: all 1s;
  transform: rotateZ(180deg);
}
.img-message .message-bottom {
  transition: all 1s;
  margin-left: 0px;
  font-size: 24px;
}
.img-message .message-bottom p {
  font-size: 18px;
  font-weight: 100;
  margin-bottom: 10px;
  font-family: inherit;
}
.img-message .message-bottom .price {
  margin-bottom: 10px;
}
.img-message .message-bottom .price span {
  font-family: inherit;
  vertical-align: middle;
}
.img-message .message-bottom .price img {
  width: 125px;
  vertical-align: middle;
}
/* feature区域 */
#feature ul {
  margin-top: 7px;
}
#feature ul:after {
  content: "";
  display: block;
  clear: both;
}
#feature ul li {
  float: left;
  width: 32.98%;
  position: relative;
  overflow: hidden;
}
#feature ul li:hover img {
  transform: translateY(-100%);
}
#feature ul li img {
  width: 100%;
  filter: grayscale(0%);
  transition: all 0.75s;
  -ms-transition: all 0.75s;
  position: relative;
}
#feature ul li .img-gray {
  position: absolute;
}
#feature ul li:nth-child(2) {
  margin: 0 0.5%;
}
#feature ul li:nth-child(3) {
  float: right;
}
/* about区域 */
#about {
  padding: 0 8%;
}
.moreArrow {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left-color: #666;
  position: absolute;
  content: "";
  top: 50%;
  left: 82%;
  margin-left: -5px;
  margin-top: -5px;
}
.more {
  position: relative;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 57px;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  color: #666;
  padding-left: 13px;
  cursor: pointer;
}
/* 动态区域 */
.dynamic {
  margin: 30px 0;
}
.dynamic h1 {
  font-size: 24px;
  display: inline-block;
  font-weight: bold;
  margin-right: 15px;
  vertical-align: middle;
}
.dynamic span {
  vertical-align: middle;
  position: relative;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 57px;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  color: #666;
  padding-left: 13px;
  cursor: pointer;
}
.dynamic span:after {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left-color: #666;
  position: absolute;
  content: "";
  top: 50%;
  left: 82%;
  margin-left: -5px;
  margin-top: -5px;
}
.dynamic span:before {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left-color: #666;
  position: absolute;
  content: "";
  top: 50%;
  left: 82%;
  margin-left: -5px;
  margin-top: -5px;
  border-left-color: #fff;
  margin-left: -6px;
  z-index: 999;
}
.dynamic ul {
  margin: 30px 0;
}
.dynamic ul:after {
  content: "";
  display: block;
  clear: both;
}
.dynamic li {
  float: left;
  width: 32%;
}
.dynamic li:nth-of-type(2) {
  margin: 0 2%;
}
.dynamic figure {
  margin: 0;
}
.dynamic figure .dynamic-first {
  width: 41.5%;
  min-height: 100px;
  background-image: url(../images/dynamic-first.png);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  float: left;
  transition: all 0.25s;
  -ms-transition: all 0.25s;
  overflow: hidden;
}
.dynamic figure .dynamic-first:hover {
  background-size: 120%;
}
.dynamic figure .dynamic-second {
  width: 41.5%;
  min-height: 100px;
  background-image: url(../images/dynamic-first.png);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  float: left;
  transition: all 0.25s;
  -ms-transition: all 0.25s;
  overflow: hidden;
  background-image: url(../images/dynamic-second.png);
}
.dynamic figure .dynamic-second:hover {
  background-size: 120%;
}
.dynamic figure .dynamic-second:hover {
  background-size: 120%;
}
.dynamic figure .dynamic-third {
  width: 41.5%;
  min-height: 100px;
  background-image: url(../images/dynamic-first.png);
  background-size: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  float: left;
  transition: all 0.25s;
  -ms-transition: all 0.25s;
  overflow: hidden;
  background-image: url(../images/dynamic-third.png);
}
.dynamic figure .dynamic-third:hover {
  background-size: 120%;
}
.dynamic figure .dynamic-third:hover {
  background-size: 120%;
}
.dynamic figure figcaption {
  display: inline-block;
  padding-left: 15px;
}
.dynamic figure figcaption p {
  padding-top: 10px;
}
.dynamic figure figcaption p:nth-of-type(1) {
  font-size: 16px;
  color: #000;
  font-weight: 600;
}
.dynamic figure figcaption p:nth-of-type(2) {
  font-size: 14px;
  color: #666;
}
.dynamic figure figcaption p:nth-of-type(3) {
  font-size: 12px;
  color: #ccc;
  padding-top: 25px;
}
/* test CSS伪类重叠箭头实现 */
/* 
// 这是纯css+伪类before和after重叠制作的箭头（定位比较方便）
.testArrow(right,@borderWidth:10px,@borderColor:white){
	border: @borderWidth solid transparent;
	border-left-color: @borderColor;
	margin-top:-@borderWidth;
}
.testArrow(left,@borderWidth:10px,@borderColor:white){
	border: @borderWidth solid transparent;
	border-right-color: @borderColor;
	margin-top:-@borderWidth;
}
.testArrow(top,@borderWidth:10px,@borderColor:white){
	border: @borderWidth solid transparent;
	border-bottom-color: @borderColor;
	margin-left:-@borderWidth;
}
.testArrow(bottom,@borderWidth:10px,@borderColor:white){
	border: @borderWidth solid transparent;
	border-top-color: @borderColor;
	margin-left:-@borderWidth;
}
.testArrow(@_,@borderWidth:10px,@borderColor:white){
	width: 0;
	height: 0;
	position: absolute;
	content: "";
	top: 50%;
	left: 50%;
}

#bottom{
	.test{
	width: 50px;
	height: 50px;
	background: #ccc;
	position:relative;
		&:before{
			.testArrow(left,10px);
		}
		&:after{
			.testArrow(left,10px,#ccc);
			// z-index: 999;
			margin-left:4px;
		}
	}
}  */
/* 活动区域 */
#activity {
  margin: 30px 0;
}
#activity h1 {
  font-size: 24px;
  display: inline-block;
  font-weight: bold;
  margin-right: 15px;
  vertical-align: middle;
}
#activity span {
  vertical-align: middle;
  position: relative;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 15px;
  width: 57px;
  height: 25px;
  line-height: 25px;
  font-size: 16px;
  color: #666;
  padding-left: 13px;
  cursor: pointer;
}
#activity span:after {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left-color: #666;
  position: absolute;
  content: "";
  top: 50%;
  left: 82%;
  margin-left: -5px;
  margin-top: -5px;
}
#activity span:before {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left-color: #666;
  position: absolute;
  content: "";
  top: 50%;
  left: 82%;
  margin-left: -5px;
  margin-top: -5px;
  border-left-color: #fff;
  margin-left: -6px;
  z-index: 999;
}
#activity ul {
  margin: 30px 0;
}
#activity ul:after {
  content: "";
  display: block;
  clear: both;
}
#activity li {
  float: left;
  width: 32%;
}
#activity li:nth-of-type(2) {
  margin: 0 2%;
}
#activity figure {
  margin: 0;
}
#activity figure a {
  display: block;
}
#activity figure a img {
  width: 100%;
}
#activity figure figcaption {
  display: inline-block;
  margin-top: 5px;
}
/* bottom区域 */
#bottom {
  background: #fafafc;
  padding: 0 8%;
}
/* advantage区域 */
.advantage ul {
  padding: 30px 0;
  color: #666;
}
.advantage ul:after {
  content: "";
  display: block;
  clear: both;
}
.advantage li {
  float: left;
  width: 16.5%;
  border-right: 1px solid #e3e3e3;
  text-align: center;
}
.advantage li:nth-of-type(6) {
  border: none;
}
.advantage li p {
  margin-top: 10px;
}
.advantage li p span {
  font-weight: bold;
}
.advantage li p span b {
  color: #37c3e6;
}
/* 底部导航区域footer-nav */
.footer-nav ul {
  padding: 30px 0;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  color: #666;
}
.footer-nav ul:after {
  content: "";
  display: block;
  clear: both;
}
.footer-nav li {
  float: left;
  width: 18%;
  padding-left: 2%;
}
.footer-nav li span {
  font-size: 14px;
  font-weight: bold;
}
.footer-nav li p {
  font-size: 14px;
  padding-top: 12px;
}
.footer-nav li h2 {
  color: #37c3e6;
  padding-bottom: 12px;
}
.footer-nav li:nth-of-type(5) {
  text-align: center;
}
.footer-nav li:nth-of-type(5) p {
  padding-bottom: 15px;
  padding-top: 15px;
}
.footer-nav li:nth-of-type(5) h2 {
  padding-bottom: 15px;
}
.footer-nav li .service a {
  color: #fff;
  font-size: 12px;
  width: 80%;
  height: 30px;
  line-height: 30px;
  background: #37c3e6;
  border-radius: 5px;
  margin: 0 auto;
  display: block;
  text-align: center;
}
/* footer-message区域 */
.footer-message {
  font-size: 14px;
  color: #666;
}
.footer-message:after {
  content: "";
  display: block;
  clear: both;
}
.footer-message p {
  display: inline-block;
  padding: 45px 0;
}
.footer-message .contact {
  display: inline-block;
  float: right;
  padding: 30px 0;
}
.footer-message .contact span {
  vertical-align: middle;
}
.footer-message .contact a {
  cursor: pointer;
}
.footer-message .contact a img {
  vertical-align: middle;
}
